<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel Wishlist</title>
</head>
<body>
    {% extends 'travel_wishlist/base.html' %}
    {% block content %}
    <h2>Travel Wishlist</h2>
    <form method="POST" action="{% url 'place_list' %}">
        {% csrf_token %}
        {{new_place_form}}
        <button id="add-new-place" type="submit">Add</button>
    </form>
    <br>
    {% if places %}
        {% for place in places %}
        <div class="wishlist-place">
            <form class="visited-form" method="POST" action="{% url 'place_was_visited' place.pk %}">
                {% csrf_token %}
                <span class="place-name">{{place.name}}</span>  <button type="submit">visited!</button>
            </form>
        </div>
        {% endfor %}
    {% else %}
    <p>You have no places in your wishlist</p>
    {% endif %}
    {% endblock %}
</body>
</html>